*{
    font-family: verdana;
    margin: 0;
}
body{
    background-color: #eee;
}
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}
.box{
    height: 100px;
    min-width: 100px;
    background-color: #fff;
}
.one{
    background-color: red;
    flex-grow: 2;
}
.two{
    background-color: blue;
    flex-grow: 3;
}
.three{
    background-color: green;
    flex-grow: 1;
}